:root {
    --blue: #0013E8;
    --box-shadow: 10px 10px 25px #808080;
    --font: 'Architects Daughter', cursive;
    --height: 60px;
    --orange: #FF7200;
    --text-shadow: 10px 10px 25px #000;
    --white: #E5F2EE;
}

* {
    /* border: .5px dotted red; */
    font-family: var(--font);
    font-size: 20px;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
}

a {
    color: var(--orange);
    text-decoration: none;
}

a:hover {
    color: var(--blue);
    text-shadow: var(--text-shadow);
}

li {
    display: inline-block;
}

figure {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 0;
}

.content,
.navbar,
.footer {    
    padding: 0 8%;
}

.content,
.navbar,
.profile-picture,
.bio,
.skills,
.project-content,
.contact-info
{
    box-sizing: border-box;
    display: flex;
}

.content,
.bio,
.project-content { 
    flex-direction: column;
}

span#logo,
ul.nav,
.profile,
.f-end,
.b-end,
.project,
.social-media,
.email-form {
    flex:1; 
}

.bio {
    flex: 3;
    justify-content: space-between;
}
.projects {
    /* border: 2px dotted green; */
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    margin: 5% 0;
}
.project {
    /* border: .5px dotted red; */
    box-sizing: border-box;
    flex: 1;
}

.section-header,
p.description  {   
    font-size: 24px;
}

.navbar,
.footer {
    background-color: var(--orange);
    color: var(--white);
    line-height: var(--height);
    letter-spacing: 2px;
    position: relative;
}

.navbar a,
.footer a {
    color: var(--white);
}

.navbar {
    box-shadow: var(--box-shadow);
}

.section-heading,
.subheading {
    font-family: 'Permanent Marker';
    letter-spacing: 3px;
    text-align: center;
    word-spacing: 3px;
}

.section-heading {
    font-size: 55px;
}

.subheading {
    font-size: 25px;
}

#logo {
    font-size: 35px;
    font-weight: bold;
}

ul.nav {
    font-size: 25px;
    text-align: right;
}

.profile,
.profile-picture {
    margin: auto;
    padding: 2%;
    justify-content: space-between;
}

#profile-img {
    flex: 1;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    height: auto;
    width: 350px;    
}

.dev-logo {
    width: 80px;
    height: auto;
    margin: 5%;
}

.proj-img {
    width: 500px;
    height: auto;
}

.caption {
    font-size: 16px;
    text-align: center;
    word-spacing: 2px;
}


.social-media-logo {
    height: auto;
    padding: 2%;
    width: 80px;
}

.social-media a,
.social-media-logo {
    vertical-align: middle;
}

.footer {
    text-align: center;
}