* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Architects Daughter', cursive;
}

.navbar, footer {
    color: #FFF;
    background-color: orange;
    line-height: 50px;
    letter-spacing: 2px;
    padding-left: 10px;
    position: relative;
    word-spacing: 15px;
    width: auto;
}

.navbar {
    display: flex;
    box-shadow: 10px 10px 25px #808080;
    padding-left: 5%;
    padding-right: 5%;
    height: 20%;
}

.navbar-logo {
    font-size: 30px;
    margin: auto;
    text-shadow: 10px 10px 25px #000;
}

ul.nav {
    flex: 1;
    height: auto;
    order: 2;
    text-align: right;
}

ul.nav li {
    display: inline-block;
    list-style-type: none;
    margin-left: 2%;
    margin-right: 2%;
}

ul.nav li:last-child {
    margin-right: 0;
}

ul.nav li a {
    color: #FFF;
    font-weight: bold;
    font-size: 24px;
    text-align: right;
    text-decoration: none;
    text-shadow: 10px 10px 25px #000;
}

ul.nav li a:hover,
.social-media a:hover {
    color: #00F;
    /* text-shadow: 10px 10px 25px #000; */
}

.social-media a:visited {
    color:#000;
}

#profile-pic {
    width: 250px;
    height: 250px;
}

.section-title,
.section-subtitle {
    font-family: 'Permanent Marker';
    letter-spacing: 3px;
    text-align: center;
    word-spacing: 5px;
}

.section-title {
    font-size: 40px;
    line-height: 40px;
}

.section-subtitle {
    font-size: 24px;
}

.caption {
    font-weight: bold;
}

.dev-logo {
    width: 75px;
    height: 75px;
    margin-top: 5%;
    padding: 5px;
}

.footer {
    font-size: 14px;
    font-weight: bold;
    height: 60px;
    margin-top: 5%;
    text-align: center;
    text-shadow: 10px 10px 25px #000;
    word-spacing: normal;
}



/* div.page-container {
    display: flex;
    flex-direction: column;
}

div.about-container,
 {
    flex: 1;
    display: flex;
    flex-direction: column;    
}

div.profile-picture,
div.bio {
    flex: 1;
}

#profile-pic {
    border-radius: 3%;
    height: auto;
    width: 200px;
}

.project-screenshot {
    border-radius: 3%;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.dev-logo {
    width: 75px;
    height: auto;
}

.social-media-logo {
    width: 50px;
    height: 50px;
} */