* {
    margin: 0px;
    padding: 0px;
}


/******* PAGE CONTENT *******/
body {
    box-sizing: border-box;
    font-family: 'Architects Daughter', cursive;
    font-size: 16px;
    letter-spacing: 1px;
}

button {
    background-color: orange;
    border-radius: 4px;
    color: white;
    font-family: 'Architects Daughter', cursive;
    font-size: 18px;
    font-weight: bold;
    height: 35px;
    margin: 10% 0 5% 40%;
    text-align: center;
    width: 150px;    
}

button:hover {
    background-color: orange;
    box-shadow: 10px 10px 25px grey;
    color: blue;
    font-weight: bold;
}

p.description {
    font-size: 18px;
    margin-left: 3%;
    margin-right: 3%;
    padding: 2%;    
    word-spacing: 1.5px;
}

figcaption {
    margin-top: 10%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

a {
    text-decoration: none;
}

div.container#page,
div.about-container,
div.project,
div#portfolio.portfolio-container,
div#skills.skill-container,
div.contact-container,
p.description.header
 {
    margin: auto;
    padding: auto;
    width: auto;
}

/******* NAVIGATION BAR *******/
nav, footer {    
    background-color: orange;
    font-family: 'Architects Daughter', cursive;
    line-height: 50px;
    letter-spacing: 2px;
    padding-left: 10px;
    position: relative;
    word-spacing: 15px;
}

footer {
    color:#FFF;
    font-family: 'Architects Daughter', cursive;
    font-size: 14px;
    font-weight: bold;
    height: 60px;
    margin-top: 5%;
    text-align: center;
    text-shadow: 10px 10px 25px black;
    word-spacing: normal;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav ul li a {
    color: #FFF;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    
}

nav ul li a:hover {
    color: blue;
    text-shadow: 10px 10px 25px black;
}

.nav-bar {
    display: flex;
    box-shadow: 10px 10px 25px grey;
}

.nav {
    flex: 1;
    text-align: right;
    order: 2;
}

.nav:last-child {
    padding-right: 2%;
}


/******* PAGE SECTIONS *******/
#about,
#portfolio,
#skills {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}


/******* PAGE TITLES *******/
.section-title {
    font-family: 'Permanent Marker';    
}

h1.section-title {
    margin-top: 2%;
    margin-bottom: 2%;
    line-height: 40px;
    font-size: 40px;
    text-align: center;
}

span.section-title {
    color: white;
    font-family: 'Architects Daughter', cursive;
    font-size: 32px;
    font-weight: bold;
}

h5.section-title {
    font-family: "Permanent Marker";
    font-size: 24px;
    letter-spacing: 1.5px;
    margin-top: 5%;
    padding: 5px;
    text-align: center;
}


/******* ABOUT ME *******/
.about-container {
    display: flex;
    padding: 2%;
}

.profile-picture {
    flex: 1;
    margin: auto;
}

#profile-pic {
    border-radius: 2%;
    box-shadow: 10px 10px 25px grey;
    width: 250px;
    height: 250px;
}

#my-bio {
    padding-top: 5%;
}

.bio {
    padding: 15px;
    box-sizing: border-box;
    width: 80%;
}


/******* MY PORTFOLIO *******/
div.skill-container#skills,
div#portfolio.portfolio-container {
    margin-bottom: 5%;
}

.portfolio-container {
    display: flex;
    justify-content: space-around;

}

.project {
    flex-basis: 30%;
    margin-bottom: 5%;
}

img.project-screenshot {
    border-radius: 3px;
    box-shadow: 10px 10px 25px grey;
    width: 400px;
    height: 200px;
    margin: auto;
}


/******* MY SKILLS *******/
.skill-container {
    display: flex;
    height: 250px;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
}

.front-end,
.back-end {
    flex: 1;
}

.dev-logo {
    width: 75px;
    height: 75px;
    margin-top: 5%;
    padding: 5px;
}

/******* CONTACT ME *******/
div.remarks p {
    font-size: 16px;
}
.contact-container {
    display: flex;
    margin: 0 auto;
    padding-left: 3%;
    padding-right: 3%;
}

.contact-me {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.email-me {
    flex: 1;
    padding: 20px;
}

.remarks {
    word-spacing: 2px;
    letter-spacing: 1px;
    padding: 2%;
    word-break: inherit;
}
.social-media {
    font-weight: bold;
    padding: 2%;
}

.social-media-logo { 
    height: 50px;
    width: 50px;
    padding: 5px;
}

h6.section-title {
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: row;
    padding-top: 5%;
}

.form-group label {
    flex: none;
    display: block;
    width: 125px;
    font-weight: bold;
  }

.form-group .input-control {
    flex: 1 auto;
    display: block;
    margin-bottom: 5px;
    margin-right: 8px;
    padding: 4px;
    margin-top: -4px;
}

a.visited,
a.visited:visited {
    color: orange;
}

span.visited,
span.visited:visited {
    color: black;
}

span.visited:hover {
    color: blue;
    font-weight: bold;
}


/* MEDIA QUERIES */

/******* MIN-WIDTH: 1440PX  *******/
@media screen and (min-width: 1440px) {
    div.container#page,
    div.about-container,
    div.project,
    div#portfolio.portfolio-container,
    div#skills.skill-container,
    div.contact-container,
    p.description.header
     {
        
        width: 1440px;
        padding: auto;
        margin: auto;
    }

    /* Portfolio Section */
    div#portfolio.portfolio-container,
    div.skill-container#skills {
        margin-bottom: 5%;
    }

    .portfolio-container {
        display: flex;
        justify-content: space-between;
    }
}

/******* MAX-WIDTH: 1240PX  *******/
@media (max-width: 1240px) {

    span.section-title {
        font-size: 22px;
    }

    ul.nav a {
        font-size: 18px;
    }

    div.container#page,
    div.about-container,
    div.project,
    div#portfolio.portfolio-container,
    div#skills.skill-container,
    div.contact-container,
    p.description.header
     {
        width: auto;
        height: auto;
        padding: auto;
        margin: auto;
    }

    div.skill-container,
    div.portfolio-container {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    div.front-end-container,
    div.back-end-container {
        flex: 1;
        margin: auto;
        padding: auto;
    }

    div.front-end-container {
        margin-bottom: 3%;
    }

    div.back-end-container {
        margin-top: 3%;
    }

    img.project-screenshot {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 800px;
        height: auto;
    }

    figcaption {
        margin-top: 3%;
        padding: auto;
    }

    h1.section-title {
        margin-top: 5%;
        padding: auto;
    }

}

/******* MAX-WIDTH: 960PX *******/
@media (max-width: 960px) {
    img#profile-pic {
        width: 300px;
        height: 300px;
    }

    img.project-screenshot {
        width: 800px;
        height: auto;
    }

    div.container#page,
    div.about-container,
    div.project,
    div#portfolio.portfolio-container,
    div#skills.skill-container,
    div.contact-container,
    p.description.header
     {
        width: auto;
        height: auto;
        padding: auto;
        margin: auto;
    }

    /******* PARENT CONTAINERS FOR FLEX BOX *******/
    div.skill-container,
    div.portfolio-container,
    div.contact-container {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    div.front-end-container,
    div.back-end-container,
    div.project {
        flex: 1;
        margin: auto;  
    }

    div.contact-me {
        display: flex;
        flex-direction: row;
    }

    div.remarks {
        flex: 1;
        order: 2;
    }

    div.social-media {
        flex: 1;
        margin: 0;
        order: 1;
    }

    /******* NAVIGATION BAR *******/
    span.section-title {
        font-size: 24px;
    }

    ul.nav a {
        font-size: 18px;
    }

    /******* SECTION TITLES *******/
    h1.section-title {
        font-size: 40px;
    }

    /******* SUBTITLES *******/
    h5.section-title {
        font-size: 28px;
        margin-bottom: 3%;
        margin-top: 3%;
    }

    h1#my-projects.section-title {
        margin-top: 10%;
    }

    div.back-end-container {
        margin-top: 3%;
    }

    figure  {
        padding-left: auto;
    }

    img.project-screenshot {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    figcaption {
        font-size: 18px;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    p.description,
    p.description.header,
    div.remarks p {
        font-size: 20px;
    }

    img.social-media-logo {
        width: 75px;
        height: 75px;
    }

    span.visited {
        font-size: 20px;
    }

    button {
        font-size: 18px;
        height: auto;
        width: 200px;
    }

    footer p {
        font-size: 18px;
    }
}


/******* MAX-WIDTH 768PX ********/
@media (max-width: 768px) {

    footer,
    nav {
        width: auto;
        height: auto;
    }
    span.section-title {
        font-size: 20px;
    }

    ul.nav a {
        font-size: 14px;
    }
    
    img.project-screenshot {
        width: 600px;
        height: auto;
    }

    div.about-container,
    div.contact-container {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    div.bio {
        margin: auto;
        padding: auto;
    }

    div.contact-me {
        display: flex;
        flex-direction: row;
    }

    div.remarks {
        flex: 1;
        order: 2;
    }

    div.social-media {
        flex: 1;
        margin: 0;
        order: 1;
    }

    h1.section-title {
        font-size: 30px;
    }

    h5.section-title {
        font-size: 24px;
    }

    img.social-media-logo {
        width: 60px;
        height: 60px;
    }

    button,
    p.description,
    p.description.header,
    figcaption,
    span.visited,
    a.visited {
        font-size: 16px;
    }

    button {
        width: 150px;
        height: auto;
    }

    footer p {
        font-size: 14px;
    }
}

/* @media (min-width: 330px) {

    footer,
    div.container#page,
    div.about-container,
    div.project,
    div#portfolio.portfolio-container,
    div#skills.skill-container,
    div.contact-container,
    p.description.header
     {
        width: auto;
        height: auto;
        padding: auto;
        margin: auto;
    }

    footer p {
        font-size: 12px;
    }
} */

/* @media (max-width: ) */