* {
    margin: 0px;
    padding: 0px;
}


/******* PAGE CONTENT *******/
body {
    box-sizing: border-box;
    font-family: 'Architects Daughter', cursive;
    font-size: 16px;
    letter-spacing: 1px;
}

button {
    background-color: orange;
    border-radius: 4px;
    color: white;
    font-family: 'Architects Daughter', cursive;
    font-size: 18px;
    font-weight: bold;
    height: 35px;
    margin: 10% 0 5% 40%;
    text-align: center;
    width: 150px;    
}

button:hover {
    background-color: orange;
    box-shadow: 10px 10px 25px grey;
    color: blue;
    font-weight: bold;
}

p.description {
    margin-left: 3%;
    margin-right: 3%;
    padding: 2%;
    font-size: 18px;
    word-spacing: 1.25px;
}

figcaption {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

a {
    text-decoration: none;
}

div.container#page,
div.about-container,
div.project,
div#portfolio.portfolio-container,
div#skills.skill-container,
div.contact-container,
p.description.header
 {
    
    width: auto;
    padding: auto;
    margin: auto;
}

/******* NAVIGATION BAR *******/
nav, footer {    
    background-color: orange;
    font-family: 'Architects Daughter', cursive;
    /* font-family: 'Permanent Marker'; */
    line-height: 50px;
    letter-spacing: 2px;
    padding-left: 10px;
    position: relative;
    word-spacing: 15px;
}

footer {
    /* box-shadow: 8px 4px 8px 6px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    color:#FFF;
    font-family: 'Architects Daughter', cursive;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5%;
    height: 60px;
    text-align: center;
    text-shadow: 10px 10px 25px black;
    word-spacing: normal;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav ul li a {
    color: #FFF;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    
}

nav ul li a:hover {
    color: blue;
    text-shadow: 10px 10px 25px black;
}

.nav-bar {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav {
    flex: 1;
    text-align: right;
    order: 2;
}

.nav:last-child {
    padding-right: 2%;
}


/******* PAGE SECTIONS *******/
#about,
#portfolio,
#skills {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}


/******* PAGE TITLES *******/
.section-title {
    font-family: 'Permanent Marker';    
}

h1.section-title {
    margin-top: 2%;
    margin-bottom: 2%;
    line-height: 40px;
    font-size: 40px;
    text-align: center;
}

span.section-title {
    color: white;
    font-family: 'Architects Daughter', cursive;
    font-size: 32px;
    font-weight: bold;
}

h5.section-title {
    font-family: "Permanent Marker";
    font-size: 24px;
    letter-spacing: 1.5px;
    margin-top: 5%;
    padding: 5px;
    text-align: center;
}


/******* ABOUT ME *******/
.about-container {
    display: flex;
    padding: 2%;
}

.profile-picture {
    flex: 1;
    margin: auto;
}

#profile-pic {
    border-radius: 5%;
    box-shadow: 10px 10px 25px grey;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    width: 250px;
    height: 250px;
}

#my-bio {
    padding-top: 5%;
}

.bio {
    padding: 15px;
    box-sizing: border-box;
    width: 80%;
}


/******* MY PORTFOLIO *******/
div.skill-container#skills,
div#portfolio.portfolio-container {
    margin-bottom: 5%;
}

.portfolio-container {
    display: flex;
    justify-content: space-around;

}

.project {
    flex-basis: 30%;
    margin-bottom: 5%;
}

img.project-screenshot {
    box-shadow: 10px 10px 25px grey;
    width: 400px;
    height: 200px;
    margin: auto;
}


/******* MY SKILLS *******/
.skill-container {
    display: flex;
    height: 250px;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
}

.front-end,
.back-end {
    flex: 1;
}

.dev-logo {
    width: 75px;
    height: 75px;
    margin-top: 5%;
    padding: 5px;
}

/******* CONTACT ME *******/
div.remarks p {
    font-size: 16px;
}
.contact-container {
    display: flex;
    margin: 0 auto;
    padding-left: 3%;
    padding-right: 3%;
}

.contact-me {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.email-me {
    flex: 1;
    padding: 20px;
}

.remarks {
    word-spacing: 2px;
    letter-spacing: 1px;
    padding: 2%;
    word-break: inherit;
}
.social-media {
    font-weight: bold;
    padding: 2%;
}

.social-media-logo {  
    height: 50px;
    width: 50px;
    padding: 5px;
}

h6.section-title {
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: row;
    padding-top: 5%;
}

.form-group label {
    flex: none;
    display: block;
    width: 125px;
    font-weight: bold;
  }

.form-group .input-control {
    flex: 1 auto;
    display: block;
    margin-bottom: 5px;
    margin-right: 8px;
    padding: 4px;
    margin-top: -4px;
  }


/******* MEDIA QUERIES *******/
@media screen and (min-width: 1440px) {
    div.container#page,
    div.about-container,
    div.project,
    div#portfolio.portfolio-container,
    div#skills.skill-container,
    div.contact-container,
    p.description.header
     {
        
        width: 1440px;
        padding: auto;
        margin: auto;
    }

    /* Portfolio Section */
    div#portfolio.portfolio-container,
    div.skill-container#skills {
        margin-bottom: 5%;
    }

    .portfolio-container {
        display: flex;
        justify-content: space-between;
    }
}