/******* MAX-WIDTH 768PX ********/

@media (max-width: 768px) {
    span.section-title,
    .nav:last-child {
        padding-right: 2%;
    }

    footer,
    nav {
        width: auto;
        height: auto;
    }
    span.section-title {
        font-size: 20px;
    }

    ul.nav a {
        font-size: 14px;
    }
    
    img.project-screenshot {
        width: 600px;
        height: auto;
    }

    div.about-container,
    div.contact-container {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    div.bio {
        margin: auto;
        padding: auto;
    }

    div.contact-me {
        display: flex;
        flex-direction: row;
    }

    div.remarks {
        flex: 1;
        order: 2;
    }

    div.social-media {
        flex: 1;
        margin: 0;
        order: 1;
    }

    h1.section-title {
        font-size: 30px;
    }

    h5.section-title {
        font-size: 24px;
    }

    img.social-media-logo {
        width: 60px;
        height: 60px;
    }

    button,
    p.description,
    p.description.header,
    figcaption,
    span.visited,
    a.visited {
        font-size: 16px;
    }

    button {
        width: 150px;
        height: auto;
    }

    footer p {
        font-size: 14px;
    }
}