/******* MAX-WIDTH: 960PX *******/

@media (max-width: 960px) {
    span.section-title,
    .nav:last-child {
        padding-right: 2%;
    }

    img#profile-pic {
        width: 300px;
        height: 300px;
    }

    img.project-screenshot {
        width: 800px;
        height: auto;
    }

    div.container#page,
    div.about-container,
    div.project,
    div#portfolio.portfolio-container,
    div#skills.skill-container,
    div.contact-container,
    p.description.header
     {
        width: auto;
        height: auto;
        padding: auto;
        margin: auto;
    }

    /******* PARENT CONTAINERS FOR FLEX BOX *******/
    div.skill-container,
    div.portfolio-container,
    div.contact-container {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    div.front-end-container,
    div.back-end-container,
    div.project {
        flex: 1;
        margin: auto;  
    }

    div.contact-me {
        display: flex;
        flex-direction: row;
    }

    div.remarks {
        flex: 1;
        order: 2;
    }

    div.social-media {
        flex: 1;
        margin: 0;
        order: 1;
    }

    /******* NAVIGATION BAR *******/
    span.section-title {
        font-size: 24px;
    }

    ul.nav a {
        font-size: 18px;
    }

    /******* SECTION TITLES *******/
    h1.section-title {
        font-size: 40px;
    }

    /******* SUBTITLES *******/
    h5.section-title {
        font-size: 28px;
        margin-bottom: 3%;
        margin-top: 3%;
    }

    h1#my-projects.section-title {
        margin-top: 10%;
    }

    div.back-end-container {
        margin-top: 3%;
    }

    figure  {
        padding-left: auto;
    }

    img.project-screenshot {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    figcaption {
        font-size: 18px;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    p.description,
    p.description.header,
    div.remarks p {
        font-size: 20px;
    }

    img.social-media-logo {
        width: 75px;
        height: 75px;
    }

    span.visited {
        font-size: 20px;
    }

    button {
        font-size: 18px;
        height: auto;
        width: 200px;
    }

    footer p {
        font-size: 14px;
    }
}